<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cdFrdDtc_Style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Fraud Detection</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
    </nav>

    <main>
        <div class="mainContents">
            <h1 class="title">Credit Card Fraud Detection</h1>

            <form class="inputContainer" action="{{ url_for('predict_credit_fraud') }}" method="POST">
                <div class="input1 input">
                    <label for="TrnAmn" class="inputMSG">Transaction Amount:</label>
                    <input type="number" id="TrnAmn" name="TrnAmn" placeholder="Enter Transaction Amount" class="inputBox" required>
                </div>
            
                <div class="input2 input">
                    <label for="Ctypopltn" class="inputMSG">City zip code:</label>
                    <input type="number" id="zip" name="zip" placeholder="Enter Your City zip code" class="inputBox" required>
                </div>
            
                <div class="input3 input">
                    <label for="TrnHr" class="inputMSG">Transaction Hour:</label>
                    <input type="number" id="TrnHr" name="TrnHr" placeholder="Enter Hour Of Transaction (0-23)" class="inputBox" required>
                </div>
            
                <div class="input4 input">
                    <label for="Age" class="inputMSG">Age:</label>
                    <input type="number" id="Age" name="Age" placeholder="Enter Age (18-100)" class="inputBox" required>
                </div>
            
                <button class="formSubmit" type="submit">SUBMIT</button>
            </form>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/credit_card_fraud.js') }}"></script>
</body>

</html>