<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/indexStyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul> 
    </nav>
    <main>
        
        <h1 class="sloganContainer">Fortifying Every Transaction, Securing Every Moment.</h1>

        <div class="buttonsContainer">
            <a href="/crdFrdDtcn.html" class="crfd buttons">
                <span>Credit Card Fraud Detection</span>
            </a>

            <a href="/OnlPymntFrdDtctn.html" class="opfd buttons">
                <span>Online Payment Fraud Detection</span>
            </a>
        </div> 
    </main>
</body>
</html>