<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
        </ul> 
    </nav>
    <main>
        
        <h1 class="sloganContainer">Fortifying Every Transaction, Securing Every Moment.</h1>

        <div class="buttonsContainer">
            <a href="{{ url_for('static', filename='cdFrdDtc_Style.css') }}">Credit Card Fraud Detection</a>
                <span>Credit Card Fraud Detection</span>
            </a>

            <a href="{{ url_for('static', filename='OnlPymntFrdDtcn.css') }}" class="opfd buttons">
                <span>Online Payment Fraud Detection</span>
            </a>
        </div> 
    </main>
    <script src="/static/js/index.js"></script>
</body>
</html>